{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--content block -->
{% block content %}

<!--general news section-->
<h3>General News</h3>
<ul>
  {{macro.displayNewsList(general)}}
</ul>

<!--entertainment news section-->
<h3>Entertainment News</h3>
<ul>
  {{ macro.displayNewsList(entertainment)}}
</ul>

<!--entertainment news section-->
<h3>Political News</h3>
<ul>
  {{ macro.displayNewsList(politics)}}
</ul>

<!--entertainment news section-->
<h3>Technology News</h3>
<ul>
  {{ macro.displayNewsList(technology)}}
</ul>

<!--entertainment news section-->
<h3>Business News</h3>
<ul>
  {{ macro.displayNewsList(business)}}
</ul>

{% endblock %}