{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--styles block-->
{% block sytles %}
  {{ super() }}<!--tells jinja not to override the content here-->
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!--content block -->
{% block content %}

<!--general news section-->
<h3 class="text-center">General News</h3>
<ul>
  {{macro.displayNewsList(general)}}
</ul>

<!--entertainment news section-->
<h3 class="text-center">Entertainment News</h3>
<ul>
  {{ macro.displayNewsList(entertainment)}}
</ul>

<!--entertainment news section-->
<h3 class="text-center">Political News</h3>
<ul>
  {{ macro.displayNewsList(politics)}}
</ul>

<!--entertainment news section-->
<h3 class="text-center">Technology News</h3>
<ul>
  {{ macro.displayNewsList(technology)}}
</ul>

<!--entertainment news section-->
<h3 class="text-center">Business News</h3>
<ul>
  {{ macro.displayNewsList(business)}}
</ul>

{% endblock %}